<nav class="bg-[#8509D3]">
  <div class="flex flex-wrap items-center">
    <img class="w-1/4" src="../assets/img/logo.png" alt="Logo" />
    <div class="inline-block">
      <ul class="text-white flex flex-wrap p-3">
        <li>
          <a routerLink="calendar" class="p-3 hover:bg-[#4E047D]" (click)="animeSelect()">Home</a>
        </li>
        <li><a routerLink="profile" class="p-3 hover:bg-[#4E047D]" (click)="animeSelect()">List</a></li>
        <li>
          <a routerLink="popular" class="p-3 hover:bg-[#4E047D]" (click)="animeSelect()">Anime</a>
        </li>
      </ul>
    </div>

    <div class="inline-block">
      <a routerLink="notifications" (click)="animeSelect()">Insertar campana notificacion</a>
      <a routerLink="config" (click)="animeSelect()">Insertar imagen usuario</a>
    </div>
  </div>

  <div class="w-full flex flex-wrap justify-center">
    <div class="w-full block text-center">
      <app-anime-search (onDebounce)="sugerencias($event)"></app-anime-search>
    </div>
    <div class="w-1/4 block text-center">
      <ul *ngIf="suggestedAnimes" class="absolute w-1/4 text-center">
        <a
          *ngFor="let anime of suggestedAnimes"
          class="w-full text-center"
          routerLink="/anime/{{ anime.mal_id }}"
          (click)="animeSelect()"
        >
          <li
            class="w-full p-1 pl-1 text-sm text-white border border-white rounded-lg bg-[#4E047D]"
          >
            <div class="flex flex-box text-center">
              <img
                src="{{ anime.images.jpg.small_image_url }}"
                class="w-[50px] h-[50px]"
                alt=""
              /><span class="ml-1">{{ anime.title }}</span>
            </div>
          </li>
        </a>
        <button
          *ngIf="moreButton"
          (click)="more()"
          class="w-full block bg-[#4E047D] p-4 pl-10 text-sm text-white border border-white rounded-lg"
        >
          View more...
        </button>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="bg-[#4E047D] text-center text-white text-xl">Anime Tracker 2023 &copy;</footer>
