<nav class="bg-[#8509D3]">
  <ul class="text-white">
    <img class="w-1/4" src="../assets/img/logo.png" alt="Logo">
    <li><a href="#">Home</a></li>
    <li><a href="#">List</a></li>
    <li><a href="#">Anime</a></li>
    <li><a href="#">Petitions</a></li>
    <input class="bg-[#4E047D]" type="text" name="search" id="search" placeholder="Search...">
    <li><a href="#">Insertar campana notificacion</a></li>
    <li><a href="#">Insertar imagen usuario</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer class="bg-[#4E047D]">Anime Tracker 2023 &copy;</footer>