<nav class="bg-[#8509D3]">
    <div class="flex items-center justify-between py-2 px-3 flex-wrap">
      <a class="w-full md:w-1/4" routerLink="/anime/popular">
        <img src="../assets/img/logo.png" alt="Logo" />
      </a>
  
      <div class="w-full md:w-1/3 mt-4  md:mt-0">
        <ul class="flex justify-between text-white mx-2">
          <a routerLink="/user/calendar" class="flex-1" (click)="animeSelect()">
            <li class="hover:bg-[#4E047D] text-xl text-center py-3">Home</li>
          </a>
          <a routerLink="/user/profile" class="flex-1" (click)="animeSelect()">
            <li class="hover:bg-[#4E047D] text-xl text-center py-3">List</li>
          </a>
          <a routerLink="/anime/popular" class="flex-1" (click)="animeSelect()">
            <li class="hover:bg-[#4E047D] text-xl text-center py-3">Anime</li>
          </a>
        </ul>
      </div>
  
      <div class="w-full md:w-1/4 mt-4 md:mt-0">
        <div class="relative">
          <app-anime-search (onDebounce)="sugerencias($event)"></app-anime-search>
          <ul
            *ngIf="suggestedAnimes"
            class="absolute w-full bg-[#8509D3] text-white mt-2 rounded-lg overflow-hidden z-50"
          >
            <a
              *ngFor="let anime of suggestedAnimes"
              class="block"
              routerLink="/anime/{{ anime.mal_id }}"
              (click)="animeSelect()"
            >
              <li
                class="px-2 py-3 border-b border-purple-700 text-sm flex items-center"
              >
                <img
                  src="{{ anime.images.jpg.small_image_url }}"
                  class="w-10 h-10 rounded-full mr-3"
                  alt=""
                />
                <span>{{ anime.title }}</span>
              </li>
            </a>
            <button
              *ngIf="moreButton"
              (click)="more()"
              class="w-full bg-[#8509D3] p-4 text-sm text-white border border-purple-700 rounded-b-lg"
            >
              View more...
            </button>
          </ul>
        </div>
      </div>
  
      <div class="w-full md:w-1/6 mt-4 md:mt-0 text-right">
        <div class="inline-block mr-5 w-25em sm:w-20em md:w-15em lg:w-12em">
          <button class="inline-block" (click)="toggleUser()">
            <img src="../assets/img/user.png" class="w-8" alt="User" />
          </button>
          <ul [hidden]="hidden" class="absolute  w-fit z-50 rounded-b-lg">
            <a class="w-full" routerLink="/user/config"><li class="p-1 w-full text-center cursor-pointer text-white bg-[#4E047D] hover:bg-red-100  rounded-t-lg ">Config</li></a>
            <li class="p-1 w-full text-center cursor-pointer text-white bg-[#4E047D] hover:bg-red-100 rounded-b-lg " (click)="logout()">Logout</li>
          </ul>
        </div>
      </div>
    </div>
  </nav>