<h1 class="text-white">REGISTER</h1>
<p class="text-white">
    Register works!
</p>


<div class=" text-center m-auto ">
    <form [formGroup]="userForm">
        <input class=" w-1/4 rounded-t-lg text-center" type="text" formControlName="name" name="name" id="name" placeholder="name">

        <div *ngIf="userForm.get('name').invalid && userForm.get('name').touched
        && userForm.get('name').dirty" class="text-red-100">
            Nombre obligatorio
        </div>

        <div class="w-full">
        <input class="w-1/4 text-center" type="text" formControlName="email" name="email" id="email" placeholder="email">
        </div>
        
        <div *ngIf="userForm.get('email').invalid && userForm.get('email').touched
        && userForm.get('email').dirty " class="text-red-100">
            email obligatorio
        </div>

        <input class="w-1/4 text-center" type="password" formControlName="password" name="password" id="password" placeholder="Password">

        <div *ngIf="userForm.get('rpassword').invalid && userForm.get('password').touched   " class="text-red-100">
            password obligatorio
        </div>


        <div>
        <input class="w-1/4 text-center" type="password" formControlName="rpassword" name="rpassword" id="rpassword" placeholder="Repeat Password">
        </div>

        <div *ngIf="userForm.get('rpassword').invalid " class="text-red-100">
            password obligatorio
        </div>

<div class="w-full">
        <input class=" w-1/4 rounded-b-lg text-center" type="number" formControlName="age" name="age" id="age" placeholder="age" min>
    </div>

        <button (click)="register()" class="text-white">Register</button>
    </form>
</div>
