<h1 class="text-white text-center text-3xl mt-5" *ngIf="popularAnime">
  TOP RATED ANIME
</h1>

<div
  class="justify-items-center p-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-3"
  *ngIf="popularAnime"
>
  <div
    *ngFor="let anime of popularAnime.data; let i = index"
    class="rounded overflow-hidden shadow-xs"
  >
    <span
      class="absolute ml-auto font-bold text-3xl text-white bg-[#8509D3] rounded-lg"
      >Nº{{ i + 1 + (page - 1) * 25 }}</span
    >
    <a routerLink="/anime/{{ anime.mal_id }}"
      ><img
        class="w-[225px] rounded-lg"
        src="{{ anime.images.jpg.image_url }}"
        alt="{{ anime.title }}"
    /></a>
    <div
      class="flex flex-box w-[225px] text-center font-bold text-xl mb-2 text-white"
    >
      {{ anime.title }}
    </div>
  </div>
</div>

<div class="text-center text-white text-xl mb-3" *ngIf="popularAnime">
  Page {{ page }} of 984
</div>
<div class="text-center mb-10" *ngIf="popularAnime">
  <button
    (click)="back()"
    class="mr-5 bg-[#F23BC3] hover:bg-[#A12782] text-white font-bold disabled:bg-gray-700 py-2 px-4 border border-blue-700 rounded"
    [disabled]="page === 1"
  >
    Previous
  </button>
  <button
    (click)="next()"
    class="bg-[#36A9E1] hover:bg-[#247096] text-white font-bold disabled:bg-gray-700 py-2 px-4 border border-blue-700 rounded"
    [disabled]="page === 984"
  >
    Next
  </button>
</div>

