<h1 class="text-white">ANIME INFO</h1>
<div class="text-white" *ngIf="selectedAnime">
  {{ selectedAnime.data.title }}

  <button class="bg-[#9229D5] text-white rounded rounded-lg w-2/4">+</button>

  <img
    src="{{ selectedAnime.data.images.jpg.image_url }}"
    alt="{{ selectedAnime.data.title }}"
  />

  {{ selectedAnime.data.synopsis }}

  <div class="bg-[#7F5F93] rounded rounded-lg">
    <div *ngIf="selectedAnime.data.aired.prop.from.month">
      START DATE
      <div class="text-[#221F1F]">
        {{ selectedAnime.data.aired.prop.from.month }}/{{
          selectedAnime.data.aired.prop.from.day
        }}/{{ selectedAnime.data.aired.prop.from.year }}
      </div>
    </div>
    <div *ngIf="selectedAnime.data.aired.prop.to.month">
      END DATE
      <div class="text-[#221F1F]">
        {{ selectedAnime.data.aired.prop.to.month }}/{{
          selectedAnime.data.aired.prop.to.day
        }}/{{ selectedAnime.data.aired.prop.to.year }}
      </div>
    </div>
    <div>
      CHAPTERS
      <div class="text-[#221F1F]">
        {{ selectedAnime.data.episodes }}
      </div>
    </div>
    <div>
      GENRES
      <div
        class="text-[#221F1F]"
        *ngFor="let genre of selectedAnime.data.genres"
      >
        {{ genre.name }}
      </div>
    </div>
    <div>
      MEMBERS
      <div class="text-[#221F1F]">
        {{ selectedAnime.data.members }}
      </div>
    </div>
  </div>

  <div
    class="p-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-5"
  >
    <div *ngFor="let character of animeCharacters.data" class="rounded overflow-hidden shadow-xs">
      <a routerLink="/character/{{ character.character.mal_id }}"
        ><img class="w-3/4"
          src="{{ character.character.images.jpg.image_url }}"
          alt="{{ character.character.name }}" /></a
      >
      <div class="font-bold text-xl mb-2 text-white">{{ character.character.name }}</div>
    </div>
  </div>
</div>
