<div class="text-white p-5" *ngIf="animeCharacters.data">
  <div class="float-left mr-10">
    <img
      src="{{ selectedAnime.data.images.jpg.image_url }}"
      alt="{{ selectedAnime.data.title }}"
      class="rounded-lg"
    />

    <div class="bg-[#7F5F93] rounded-lg w-[225px] mt-5 pl-2">
      <div *ngIf="selectedAnime.data.aired.prop.from.month">
        START DATE
        <div class="text-[#221F1F]">
          {{ selectedAnime.data.aired.prop.from.month }}/{{
            selectedAnime.data.aired.prop.from.day
          }}/{{ selectedAnime.data.aired.prop.from.year }}
        </div>
      </div>
      <div *ngIf="selectedAnime.data.aired.prop.to.month">
        END DATE
        <div class="text-[#221F1F]">
          {{ selectedAnime.data.aired.prop.to.month }}/{{
            selectedAnime.data.aired.prop.to.day
          }}/{{ selectedAnime.data.aired.prop.to.year }}
        </div>
      </div>
      <div>
        CHAPTERS
        <div class="text-[#221F1F]">
          {{ selectedAnime.data.episodes }}
        </div>
      </div>
      <div>
        GENRES
        <div
          class="text-[#221F1F]"
          *ngFor="let genre of selectedAnime.data.genres"
        >
          {{ genre.name }}
        </div>
      </div>
      <div>
        MAL SCORE
        <div class="text-[#221F1F]">
          {{ selectedAnime.data.score }}
        </div>
      </div>
    </div>
  </div>

  <div>
    <h1 class="text-white text-3xl mb-2">
      {{ selectedAnime.data.title | uppercase }}
    </h1>
    <button class="bg-[#9229D5] text-white rounded-lg w-[30px] mb-2" (click)="addAnime()">
      {{ addButton }}
    </button>
  </div>

  <div class="mb-5">
    {{ selectedAnime.data.synopsis }}
  </div>

  <hr />

  <div class="text-center mt-5">
    <button *ngIf="selectedAnime.data.trailer.embed_url" class="p-2 mr-5 rounded-lg" (click)="trailerBool()" [class.bg-[#7F5F93]]="trailer">Trailer</button>
    <button class="p-2 mr-5 rounded-lg" (click)="characterBool()" [class.bg-[#7F5F93]]="characters">Characters</button>
    <button *ngIf="animeAdded" class="p-2 rounded-lg" (click)="chaptersBool()" [class.bg-[#7F5F93]]="chapters">Chapters</button>
  </div>

  <div *ngIf="trailer" class="mb-5">
    <iframe
      width="560"
      height="315"
      [src]=sanitizedUrl(selectedAnime.data.trailer.embed_url)
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"

      
      allowfullscreen
      class="justify-items-center mt-5 m-auto"
    ></iframe>
  </div>

  <div
    class="justify-items-center p-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-5"
    *ngIf="characters"
  >
    <div
      *ngFor="let character of animeCharacters.data"
      class="rounded overflow-hidden shadow-xs"
    >
      <a routerLink="/anime/character/{{ character.character.mal_id }}"
        ><img
          class="w-[225px] rounded-lg"
          src="{{ character.character.images.jpg.image_url }}"
          alt="{{ character.character.name }}"
      /></a>
      <div class="flex flex-box w-[225px] font-bold text-xl mb-2 text-white">
        {{ character.character.name }}
      </div>
    </div>
  </div>
</div>